<div class="mat-elevation-z2 category">
    <h1 class="category-name"
        appTooltipIfTuncated
        [matTooltip]="categoryToDisplay.name">
        {{ categoryToDisplay.name }}
    </h1>
    <div class="buttons-container">
        <button mat-mini-fab (click)="update()">
            <mat-icon style="color: white;">
                edit
            </mat-icon>
        </button>
        <button mat-mini-fab 
            style="margin-left: 1em;"
            color="warn"
            (click)="delete()">
            <mat-icon>
                delete
            </mat-icon>
        </button>
    </div>
</div>
