<div class="customers-container">
    <div class="search-container">
        <!-- Search bar + add button -->
        <mat-form-field style="width: 100%;" [formGroup]="searchInput">
            <mat-label>Search customer</mat-label>
            <input matInput 
                type="text" 
                formControlName="searchInput"
                [matAutocomplete]="customersAutoComplete">
        </mat-form-field>
        <button mat-mini-fab
            color="primary" 
            style="margin-left: 2rem;"
            (click)="addCustomer()">
            <mat-icon>add</mat-icon>
        </button>
        <!-- Search bar autocomplete -->
        <mat-autocomplete #customersAutoComplete="matAutocomplete">
            <mat-option 
                *ngFor="let searchedCustomer of searchedCustomers"
                [routerLink]="['info/', searchedCustomer.id]">
                <span 
                    [innerHTML]="customerResultName(searchedCustomer) | highlightSearch: searchText">
                </span>
            </mat-option>
        </mat-autocomplete>
    </div>
    <div class="sort-container">
        <!-- Sort options and sort direction -->
        <mat-form-field style="margin-right: 2rem;">
            <mat-label>Sort by</mat-label>
            <mat-select 
                [(ngModel)]="sortBy" 
                (selectionChange)="loadCustomers()"
                [disabled]="(customers$ | async)?.length == 0">
                <mat-option 
                    *ngFor="let sortType of sortByOptions" [value]="sortType">
                    {{ sortType }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-mini-fab 
            color="white"
            (click)="sortDirection = !sortDirection; loadCustomers()"
            [disabled]="!sortBy || (customers$ | async)?.length == 0">
            <mat-icon>{{sortDirection ? UP_ARROW : DOWN_ARROW}}</mat-icon>
        </button>
    </div>
    <!-- Customers cards diplay + paginator -->
    <ng-template *ngIf="(customers$ | async)?.length > 0;
        then customersFound
        else noCustomersFound">
    </ng-template>
    <ng-template #customersFound>
        <div class="customers-grid"
        [ngClass]="{'grid-small-window': windowService.isWindowSmall}">
            <app-customer
                *ngFor="let customer of (customers$ | async)"
                [customerToDisplay]="customer"
                (updateCustomer)="updateCustomer($event)"
                (deleteCustomer)="deleteCustomer($event)">
            </app-customer>
        </div>
    </ng-template>
    <ng-template #noCustomersFound>
        <div class="center">
            No Customers found.
        </div>
    </ng-template>
    <div class="spacer"></div>
    <mat-paginator style="width: 50%;"
        [disabled]="(customers$ | async)?.length == 0"
        class="mat-elevation-z8 paginator"
        [pageSizeOptions]="pageSizeOptions"
        [pageIndex]="customersStroe.pageIndex"
        [pageSize]="customersStroe.pageSize"
        [length]="customersStroe.count">
    </mat-paginator>
</div>
