.customers-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.search-container {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.sort-container {
    display: flex;
    align-items: flex-start;
    width: 40%;
}

.customers-grid {
    margin-top: 5rem;
    display: flex;
    flex-flow: row wrap;
    width: 80%;
}

.spacer {
    flex-grow: 1;
}

.center {
    align-self: center;
}

.grid-small-window {
    justify-content: center;
}

.paginator {
    justify-self: flex-end;
    margin: 1rem 0 1rem 0;
    width: 100%;
}