<div class="coupon" 
    [ngStyle]="styleCoupon()">
    <div class="coupon-header">
        <h1 style="margin-left: 1rem;" 
            appTooltipIfTuncated
            [matTooltip]="couponToDisplay.title"
        >{{ couponToDisplay.title }}
        </h1>
        <div class="buttons-container">
            <button mat-icon-button 
                color="primary"
                [routerLink]="['../shop/info/', couponToDisplay.id]">
                <mat-icon>
                    info
                </mat-icon>
            </button>
            <button mat-icon-button 
                color="warn"
                (click)="remove()">
                <mat-icon>
                    delete
                </mat-icon>
            </button> 
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="coupon-info">
        <p style="margin-left: 1rem;" 
        appTooltipIfTuncated
        [matTooltip]="couponToDisplay.ownerCompany.name">
        by: {{ couponToDisplay.ownerCompany.name }}
        </p>
        <p style="margin-right: 1rem;">{{ couponToDisplay.price | currency }}</p>
    </div>
</div>
