.coupon-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.coupon {
    border: 1px solid lightgrey;
    border-radius: 1rem;
    margin: 1rem;
}

.coupon-info {
    display: flex;
    justify-content: space-between;
}