<div class="categories-container">
    <div class="search-container">
        <mat-form-field style="width: 100%;">
            <mat-label>Search category</mat-label>
            <input matInput type="text" 
                [(ngModel)]="searchInput" 
                (ngModelChange)="searchInputChanged()">
        </mat-form-field>
        <button mat-mini-fab
            color="primary" 
            style="margin-left: 2rem;"
            (click)="addCategory()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="categories-list">
        <ng-template *ngIf="(categories$ | async)?.length > 0;
            then categoriesFound
            else noCategoriesFound">
        </ng-template>
        <ng-template #categoriesFound>
            <app-category
            *ngFor="let category of (categories$ | async)"
            [categoryToDisplay]="category"
            (updateCategory)="updateCategory($event)"
            (deleteCategory)="deleteCategory($event)">
            </app-category>
        </ng-template>
        <ng-template #noCategoriesFound>
            No Categories found.
        </ng-template>
    </div>
    <div class="spacer"></div>
    <mat-paginator style="width: 50%;"
        [disabled]="(categories$ | async)?.length == 0"
        class="mat-elevation-z8 paginator"
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [length]="length"
        [pageSizeOptions]="pageSizeOptions"
        (page)="pageChanged($event)">
    </mat-paginator>
</div>
