<div class="coupon">
    <div class="coupon-details">
        <h1 class="coupon-heading">
            {{ couponToDisplay.title }}
        </h1>
        <h2>{{ couponToDisplay.price | currency }}</h2>
        <h2
            [innerHTML]="couponToDisplay.quantity | stock">
        </h2>
    </div>
    <div class="buttons-container">
        <button mat-mini-fab
            class="coupon-button" 
            color="primary"
            [routerLink]="['info/', couponToDisplay.id]">
            <mat-icon>
                info
            </mat-icon>
        </button>
        <button mat-mini-fab
            class="coupon-button"
            (click)="update()">
            <mat-icon style="color: white;">
                edit
            </mat-icon>
        </button>
        <button mat-mini-fab
            class="coupon-button"
            color="warn"
            (click)="delete()">
            <mat-icon>
                delete
            </mat-icon>
        </button>
    </div>
</div>
