.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
    height: 30rem;
    background: url('/assets/background.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}