<div class="profile-container" *ngIf="(companyToDisplay$ | async) as company">
    <div class="company-details">
        <h1>
            {{ company.name }}
        </h1>
        <h2>
            {{ company.email }}
        </h2>
    </div>
    <p style="font-size: 1.5rem; margin-top: 5rem;">
        Create and publish your coupons today!
    </p>
    <button mat-raised-button 
        color="primary" 
        style="margin: 1rem;"
        [routerLink]="['../my-coupons']">
        My Coupons
    </button>
    
</div>
