<div class="companies-container">
    <div class="search-container">
        <!-- Search bar + add button -->
        <mat-form-field style="width: 100%;" [formGroup]="searchInput">
            <mat-label>Search company</mat-label>
            <input matInput 
                type="text" 
                formControlName="searchInput"
                [matAutocomplete]="companiesAutoComplete">
        </mat-form-field>
        <button mat-mini-fab
            color="primary" 
            style="margin-left: 2rem;"
            (click)="addCompany()">
            <mat-icon>add</mat-icon>
        </button>
        <!-- Search bar autocomplete -->
        <mat-autocomplete #companiesAutoComplete="matAutocomplete">
            <mat-option 
                *ngFor="let searchedCompany of searchedCompanies"
                [routerLink]="['info/', searchedCompany.id]">
                <span 
                    [innerHTML]="searchedCompany.name | highlightSearch: searchText">
                </span>
            </mat-option>
        </mat-autocomplete>
    </div>
    <div class="sort-container">
        <!-- Sort options and sort direction -->
        <mat-form-field style="margin-right: 2rem;">
            <mat-label>Sort by</mat-label>
            <mat-select 
                [(ngModel)]="sortBy" 
                (selectionChange)="loadCompanies()"
                [disabled]="(companies$ | async)?.length == 0">
                <mat-option 
                    *ngFor="let sortType of sortByOptions" [value]="sortType">
                    {{ sortType }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-mini-fab 
            color="white"
            (click)="sortDirection = !sortDirection; loadCompanies()"
            [disabled]="!sortBy || (companies$ | async)?.length == 0">
            <mat-icon>{{sortDirection ? UP_ARROW : DOWN_ARROW}}</mat-icon>
        </button>
    </div>
    <!-- Companies cards diplay + paginator -->
    <ng-template *ngIf="(companies$ | async)?.length > 0;
        then companiesFound
        else noCompaniesFound">
    </ng-template>
    <ng-template #companiesFound>
        <div class="companies-grid"
        [ngClass]="{'grid-small-window': windowService.isWindowSmall}">
            <app-company 
                *ngFor="let comapny of (companies$ | async)"
                [companyToDisplay]="comapny"
                (updateCompany)="updateCompany($event)"
                (deleteCompany)="deleteCompany($event)">
            </app-company>
        </div>
    </ng-template>
    <ng-template #noCompaniesFound>
        <div class="center">
            No Companies found.
        </div>
    </ng-template>
    <div *ngIf="!windowService.isWindowSmall || 
        (companies$ | async)?.length == 0" class="spacer">
    </div>
    <mat-paginator style="width: 50%;"
        [disabled]="(companies$ | async)?.length == 0"
        class="mat-elevation-z8 paginator"
        [pageSizeOptions]="pageSizeOptions"
        [pageIndex]="companiesStroe.pageIndex"
        [pageSize]="companiesStroe.pageSize"
        [length]="companiesStroe.count">
    </mat-paginator>
</div>
