.logo {
    height: auto;
    width: auto;
    max-height: 52px;
    max-width: 2200px;
}

.buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.link {
    margin-left: 10px;
}

.side-menu-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.small-window-header {
    display: flex; 
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.active {
    background-color: #8FAADC;
    color: #EDEDED;
}

.active:hover {
    background-color: #8FAADC;
    color: #EDEDED;
}
