
<!-- Normal Window Header -->
<mat-toolbar *ngIf="!windowService.isWindowSmall">
    <img class="logo" src="./assets/logo.png">
    <div class="buttons-container">
        <div>
            <button class="link" mat-stroked-button 
                *ngFor="let option of navBarOptions"
                [routerLink]="option.path"
                routerLinkActive="active">
                <mat-icon>{{ option.icon }} </mat-icon>
                {{ option.message }}
            </button>
        </div>
        <div>
            <button mat-raised-button 
                color="primary" 
                style="float: right;"
                (click)="logout()">
                Logout
            </button>
        </div>
    </div>  
</mat-toolbar>

<!-- Small window Header -->
<mat-toolbar *ngIf="windowService.isWindowSmall"
    class="small-window-header">
    <div style="width: 5rem;">
        <button mat-mini-fab 
        color="primary"
        (click)="menuButtonClick()">
        <mat-icon>menu</mat-icon>
        </button>
    </div>
    <img class="logo" src="./assets/logo.png">
    <div>
        <button mat-raised-button 
            color="primary" 
            style="float: right;"
            (click)="logout()">
            Logout
        </button>
    </div>
</mat-toolbar>


