<mat-card style="max-width: 20rem; min-width: 20rem;">
    <mat-card-header style="display: flex; flex-direction: column;">
        <div style="display: flex; justify-content: space-between;">
            <h1 class="coupon-heading">{{ couponToDisplay.title }}</h1>
            <div *ngIf="!clientType" style="display: flex;">
                <button 
                    mat-icon-button
                    color="primary"
                    [routerLink]="['info/', couponToDisplay.id]">
                    <mat-icon>
                        info
                    </mat-icon>
                </button>
                <button mat-icon-button
                    color="primary">
                    <mat-icon>
                        add_shopping_cart
                    </mat-icon>
                </button>
            </div>
        </div>
        <div *ngIf="clientType != clientTypes.COMPANY">
            <mat-divider></mat-divider>
            <p class="ellipsis">by: {{ couponToDisplay.ownerCompany.name }}</p>
        </div>
    </mat-card-header>
    <img mat-card-image src="/assets/company-logo.svg">
    <mat-card-content>
        <h2 class="coupon-heading">{{ couponToDisplay.category.name }}</h2>
        <h2>{{ couponToDisplay.price | currency }}</h2>
        <h2 *ngIf="clientType != clientTypes.CUSTOMER"
            [innerHTML]="couponToDisplay.quantity | stock">
        </h2>
        <h3>From: {{ couponToDisplay.startDate | date }}</h3>
        <h3>Until: {{ couponToDisplay.endDate | date }}</h3>
    </mat-card-content>
    <img 
        *ngIf="couponToDisplay.quantity == 0 && !clientType" 
        class="out-of-stock-sign" 
        src="/assets/out-of-stock.svg">
    <mat-card-actions style="text-align: center;" [ngSwitch]="clientType">
        <div style="text-align: center;" *ngSwitchCase="clientTypes.COMPANY">
            <button mat-mini-fab
                class="coupon-button" 
                color="primary"
                [routerLink]="['info/', couponToDisplay.id]">
                <mat-icon>
                    info
                </mat-icon>
            </button>
            <button mat-mini-fab
                class="coupon-button"
                (click)="update()">
                <mat-icon style="color: white;">
                    edit
                </mat-icon>
            </button>
            <button mat-mini-fab
                class="coupon-button"
                color="warn"
                (click)="delete()">
                <mat-icon>
                    delete
                </mat-icon>
            </button>
        </div>
        <div  style="text-align: center;" *ngSwitchCase="clientTypes.CUSTOMER">
            <button mat-raised-button
                style="width: 10rem;"
                color="primary"
                [routerLink]="['info/', couponToDisplay.id]">
                Info
            </button>
        </div>
        <div style="text-align: center;" *ngSwitchDefault>
            <button mat-flat-button
                style="width: 10rem;"
                class="coupon-button"
                color="primary"
                (click)="buy()">
                Buy Now
            </button>
        </div>
    </mat-card-actions>
</mat-card>