.about {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    background: url("/assets/home.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.head-text-container {
    margin-bottom: 10em;
    align-self: center;
    text-align: center;
    max-width: 35rem;
}

.contact-info {
    align-self: center;
}

.about-list-item {
    font-size: 1.5rem;
    color: white;
}

.about-list-icon {
    margin-right: 1em;
}